p{
    margin:0;
    font-family: 'Roboto', sans-serif;
}
.video
{
    display: flex;
    flex-direction: column;
    flex:1

}
.all-videos
{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    

}
.thumbnail img{
    width:100%;
    border-radius: 10px;
    cursor: pointer;

}
.video-details
{
    cursor: pointer;
    /* background-color: grey; */
    display: flex;
    
}
.video-owner
{
    display: inline-block;  
    width:50px;
    padding: 5px;
    
    
}
.video-owner img
{
    width:100%;
    border-radius:50%;
    

}


.video-data
{ 
    flex: 1;
    display: inline-block;
}
.video-name
{
    margin-top:12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}
.video-channel
{
    
    margin-top:8px;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
}
.video-views
{
    font-weight: 300;
    font-size: 12px;
    margin-bottom: 16px;
    line-height: 1;
    line-height: 18px;
    
}

